body {
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(#001F4C, #0066FF);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(#001F4C, #0066FF);
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(#001F4C, #0066FF);
    /* Standard syntax */
    background: linear-gradient(#001F4C, #0066FF);
    /* This is needed to overcome a Chrome bug. */
    height: 100vh;
    /* As above. */
    width: 100vw;
}

#corpo {
    height: 100vh;
    width: 100vw;
}

.windows-menu {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.windows-bar {
    width: 100%;
    height: 50px;
    background-color: #203249;
}

.windows-buttons {
    float: left;
    height: 100%;
}

.windows-icons {
    float: right;
    height: 100%;
}

.windows-button {
    height: 100%;
    width: 55px;
}

.windows-button > img {
    height: 35px;
    width: 40px;
    margin: 8px 0 0 5px;
}

.windows-button:hover {
    background-color: #36465B;
}

.windows-button.ativo {
    background-color: #304A6D;
}

.windows-icon {
    height: 100%;
    width: 30px;
    float: left;
}

.windows-icon > img {
    margin: 18px 0 0 5px;
}

.windows-icon:hover {
    background-color: #36465B;
}

.windows-clock {
    color: #fff;
    height: 100%;
    width: 100px;
    float: left;
}

.windows-clock-time {
    margin: 5px 10px 0 5px;
}

.windows-clock:hover {
    background-color: #36465B;
}

.windows-desktop {
    margin: 15px 0 0 15px;
}

.windows-desktop-icon {
    width: 80px;
}

.windows-desktop-icon img {
    height: 64px;
    width: 64px;
}

.windows-desktop-icon span {
    color: #fff;
}

.start-menu {
    color: #fff;
    background-color: #304A6D;
    width: 35%;
}

.start-menu-details {
    overflow: hidden;
    margin: 25px 25px 0 25px;
}

.start-menu-files {
    float: left;
    width: 35%;
}

.start-menu-tools {
    width: 100%;
    font-size: 16px;
}

.start-menu-tools img {
    width: 50px;
    height: 50px;
}

.start-menu-tiles {
    float: left;
    width: 65%;
}

.start-menu-session {}

.start-menu-session-item {
    font-size: 16px;
    padding-bottom: 10px;
}

.start-menu-session-item img {
    height: 45px;
    width: 45px;
}

.start-menu-session-item:hover {
    background-color: #596E8A;
}

.windows-window {
    height: 80%;
    width: 60%;
    position: absolute;
    top: 10%;
    left: 20%;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
}

.windows-window-toolbar {
    height: 35px;
    width: 100%;
    padding: 5px;
    overflow: hidden;
}

.icone-barra {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #4D4D4D;
    border-radius: 1px;
    margin-bottom: 2px;
}

.btn-windows{
    border-width: 0px;
}

.toolbar-left{
    float: left;
}

.toolbar-right{
    float: right;
}

.windows-window-corpo{
    width: 100%
}